@use "../../../../../../../public/assets/styles/all-styles.scss" as all;

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  animation: fadeIn 0.2s ease-out forwards;
  z-index: 100;
  @include all.d-flex();
}

.edit-task {
  width: 100%;
  max-width: 52.5rem;
  height: auto;
  max-height: calc(100dvh - 3rem);
  background: all.$white;
  border-radius: 3rem;
  padding: 4rem 3rem;
  box-shadow: all.$shadow;
  @include all.d-flex();
  gap: 1rem;

  @include all.mobile {
    padding: 3rem 1.5rem;
  }

  form {
    width: 100%;
    height: auto;
    max-height: calc(100dvh - 3rem - 3.4rem);
    @include all.d-flex(
      $flexdir: column,
      $jc: flex-start,
      $alit: flex-start,
      $rgap: 2rem
    );

    .btn-wrapper {
      margin-left: auto;

      .close-btn {
        font-size: 1.6rem;
        background: transparent;
        border-radius: 50%;
        @include all.square($length: 3rem);
        @include all.d-flex();

        &:hover {
          background-color: all.$lightgray2;
        }

        @include all.mobile {
          font-size: 1.8rem;
          @include all.square($length: 2.4rem);
        }
      }

      .ok-btn {
        @include all.d-flex($flexdir: row, $cgap: 0.5rem);
        color: all.$white;
        background-color: all.$mainColor;
        padding: 1.2rem 1.4rem;
        border-radius: 1rem;
        font-weight: 700;

        &:hover {
          background-color: all.$lightblue2;
          box-shadow: all.$shadow;
        }

        @include all.mobile {
          padding: 0.8rem 1.2rem;
        }
      }
    }

    .form-wrapper {
      width: 100%;
      overflow-y: auto;
      scrollbar-gutter: stable both-edges;
      display: block;
      padding: 0 1rem;

      .input-wrapper {
        width: 100%;
        padding-bottom: 2.4rem;

        label {
          display: block;
          margin-bottom: 0.5rem;
        }

        .prio-label {
          font-weight: bold;
        }

        .warning-date {
          color: all.$priority_urgent;
        }

        .warning {
          color: all.$priority_urgent;
          position: absolute;
          top: 6.7rem;
          left: 1rem;
          font-size: 1.6rem;
        }
      }

      input {
        //valid for input title, due date, assigned to and subtasks
        width: 100%;
        border: 0.1rem solid all.$lightgray2;
        border-radius: 0.8rem;
        padding: 0.8rem 1.2rem;
      }

      // #region Description-Input-Wrapper
      textarea {
        width: 100%;
        height: 12rem;
        border: solid 1px all.$lightgray6;
        padding: 0.8rem 1.2rem;
        border-radius: 0.8rem;
        color: all.$black;
        font-size: 1.6rem;
        font-family: all.$font;
        resize: none;
      }

      // #endregion
      // #region Date-Input-Wrapper
      .date-input-wrapper {
        width: 100%;
        border: 0.1rem solid all.$lightgray2;
        border-radius: 0.8rem;
        @include all.d-flex($flexdir: row, $jc: flex-start, $alit: flex-start);

        > input {
          border: none;
        }
      }

      // #region Priority-Buttons-Wrapper
      .priority-btn-wrapper {
        width: 100%;
        @include all.d-flex(
          $flexdir: row,
          $jc: space-between,
          $alit: flex-start
        );

        button {
          @include all.d-flex($flexdir: row, $cgap: 0.8rem);
          width: 30%;
          height: 4rem;
          border-radius: 0.8rem;
          border: solid 1px all.$lightgray6;
          background-color: all.$white;

          &:hover {
            box-shadow: all.$shadow;
          }

          svg {
            @include all.square($length: 1.6rem);
          }
        }

        .active-urgent {
          background-color: all.$priority_urgent;
          color: all.$white;

          path {
            fill: all.$white;
          }
        }

        .active-medium {
          background-color: all.$priority_medium;
          color: all.$white;

          path {
            fill: all.$white;
          }
        }

        .active-low {
          background-color: all.$priority_low;
          color: all.$white;

          path {
            fill: all.$white;
          }
        }
      }

      // #endregion
      // #region ASSIGNED-TO-WRAPPER
      #rp-wrapper {
        width: 100%;

        .rp-selected-box {
          @include all.d-flex($flexdir: row, $jc: flex-start);
          margin-top: 1.6rem;
        }

        .initials {
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
          border: 0.2rem solid all.$white;
          padding: 1.5rem;
          font-size: 1.6rem;
          font-weight: 300;
          font-family: "Inter";
          display: flex;
          align-items: center;
          justify-content: center;
          color: all.$white;
          margin-right: 0.8rem;
        }

        span {
          font-weight: 600;
        }
      }

      // #endregion
      // #region SUBTASKS-WRAPPER
      #subtask-wrapper {
        .subtask-input-wrapper {
          height: 4rem;
          width: 100%;

          #subtask-input {
            padding-right: 6rem;
          }

          .subtask-btn-wrapper {
            @include all.d-flex($flexdir: row, $jc: flex-start, $alit: center);
            gap: 0.4rem;
            position: absolute;
            top: 50%;
            right: -1.2rem;
            transform: translate(-50%, -50%);

            .clear-btn {
              @include all.square($length: 2rem);
              background-image: url(../../../../../../../public/assets/icons/cancel.svg);
              background-position: center;
              padding: 0.25rem 0.5rem;
              border-radius: 1rem;
            }

            .btn-divide {
              height: 2rem;
              width: 0.1rem;
              background-color: all.$lightgray2;
            }

            .add-btn {
              @include all.square($length: 2rem);
              background-image: url(../../../../../../../public/assets/icons/check_dark.svg);
              background-position: center;
              padding: 0.25rem 0.5rem;
              border-radius: 1rem;
            }
          }
        }

        ul {
          width: 100%;
          height: 100%;
          max-height: 11rem;
          overflow-y: auto;
          @include all.d-flex(
            $flexdir: column,
            $jc: flex-start,
            $alit: flex-start
          );

          li {
            width: 100%;
            padding: 0.5rem 1rem;
            border-radius: 1rem;
            @include all.d-flex();
            cursor: pointer;

            .list-content {
              width: 100%;
              @include all.d-flex(
                $flexdir: row,
                $jc: flex-start,
                $alit: center
              );
              gap: 0.5rem;

              > span {
                width: 100%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                height: 3rem;
                @include all.d-flex($flexdir: center);
              }

              .edit-wrapper {
                width: auto;
                @include all.d-flex($flexdir: row, $jc: space-between);
                gap: 1rem;

                .edit-input {
                  width: 90%;
                  height: 3rem;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  overflow: hidden;
                  border-style: none;
                  border-bottom: 1px solid all.$lightblue2;
                  border-radius: 0%;
                }

                .edit-subtask {
                  @include all.d-flex(
                    $flexdir: row,
                    $jc: flex-end,
                    $alit: center
                  );
                  gap: 0.4rem;

                  opacity: 0;
                  visibility: hidden;
                  pointer-events: none;
                  transition: opacity 0.2s ease-in-out;

                  @include all.notebook {
                    opacity: 1;
                    visibility: visible;
                    pointer-events: all;
                  }

                  button {
                    @include all.d-flex(
                      $flexdir: row,
                      $jc: center,
                      $alit: center
                    );
                    padding: 0.25rem 0.25rem;
                    border-radius: 1rem;
                  }

                  .separator {
                    height: 2rem;
                    width: 0.1rem;
                    background-color: all.$lightgray4;
                  }
                }
              }
            }

            @include all.desktop {
              &:hover .list-content .edit-wrapper .edit-subtask {
                opacity: 1;
                visibility: visible;
                pointer-events: all;
              }
            }

            &.editing .list-content .edit-wrapper .edit-subtask,
            .list-content .edit-subtask.force-visible {
              opacity: 1;
              visibility: visible;
              pointer-events: all;
            }
          }

          li:hover {
            background-color: all.$lightgray4;
          }

          li.editing:hover {
            background-color: transparent;
          }
        }
      }

      // #endregion SUBTASKS-WRAPPER
    }
  }
}
