@use "../../../../../../../public/assets/styles/all-styles.scss" as all;
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.2s ease-out forwards;
  z-index: 100;
  padding: 0 1rem;
}

.btn-wrapper {
  margin-left: auto;
}

.edit-task {
  width: 100%;
  max-width: 52.5rem;
  background: all.$white;
  border-radius: 3rem;
  padding: 4.8rem 4rem;
  box-shadow: all.$shadow;

  form {
    width: 100%;
    @include all.d-flex($flexdir: column, $jc: flex-start, $alit: flex-start);
    gap: 2rem;

    .input-wrapper {
      width: 100%;
    }

    input {
      width: 100%;
      border: 0.1rem solid all.$lightgray2;
      border-radius: 0.8rem;
      padding: 0.8rem 1.2rem;
      cursor: pointer;
    }

    textarea {
      height: 12rem;
      border: solid 1px #d9d9d9;
      padding: 0.8rem 1.2rem;
      width: 100%;
      border-radius: 0.8rem;
      color: all.$black;
      font-size: 1.6rem;
      font-family: all.$font;
      resize: none;
      cursor: pointer;
    }

    .date-input-wrapper {
      width: 100%;
      @include all.d-flex($flexdir: row, $jc: flex-start, $alit: flex-start);
    }

    // #region PRIORITY-BTNS
    .priority-btn-wrapper {
      width: 100%;
      @include all.d-flex($flexdir: row, $jc: space-between, $alit: flex-start);

      button {
        @include all.d-flex($flexdir: row);
        gap: 0.8rem;
        width: 30%;
        height: 4rem;
        border-radius: 0.8rem;
        border: solid 1px #d9d9d9;
        background-color: all.$white;
        transition: 125ms;

        &:hover {
          box-shadow: all.$shadow;
        }

        svg {
          height: 1.6rem;
          width: 1.6rem;
        }
      }

      .active-urgent {
        background-color: #ff3d00;
        color: all.$white;

        path {
          fill: all.$white;
        }
      }

      .active-medium {
        background-color: #ffa800;
        color: all.$white;

        path {
          fill: all.$white;
        }
      }

      .active-low {
        background-color: #7ae229;
        color: all.$white;

        path {
          fill: all.$white;
        }
      }
    }
    // #endregion PRIORITY-BTNS

    // #region ASSIGNED-TO-WRAPPER
    #rp-wrapper {
      width: 100%;

      ul {
        @include all.d-flex($flexdir: row, $jc: flex-start, $alit: flex-start);
        gap: 0.5rem;
        width: 100%;
        padding: 0.5rem 0;
        overflow-x: auto;
        li {
          @include all.d-flex($flexdir: row, $jc: flex-start, $alit: center);
          gap: 2.5rem;
          margin: 0.5rem 0;

          .avatar {
            width: 3.2rem;
            height: 3.2rem;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            color: all.$white;
          }
        }
      }
    }
    // #endregion ASSIGNED-TO-WRAPPER

    // #region SUBTASKS-WRAPPER
    .subtask-input-wrapper {
      height: 4rem;
      width: 100%;

      #subtask-input {
        padding-right: 6rem;
      }

      .subtask-btn-wrapper {
        @include all.d-flex($flexdir: row);
        gap: 0.4rem;
        position: absolute;
        top: 50%;
        right: -1.6rem;
        transform: translate(-50%, -50%);

        .clear-btn {
          width: 2rem;
          height: 2rem;
          background-image: url(../../../../../../../public/assets/icons/cancel.svg);
        }

        .btn-divide {
          height: 2rem;
          width: 0.1rem;
          background-color: all.$lightgray2;
        }

        .add-btn {
          width: 2rem;
          height: 2rem;
          background-image: url(../../../../../../../public/assets/icons/check_dark.svg);
        }
      }
    }
    #subtask-wrapper {
      ul {
        padding-top: 0.5rem;
        height: 12rem;
        overflow-y: auto;
        li {
          width: 100%;

          cursor: pointer;
          padding: 0.5rem 0.6rem;
          border-radius: 1rem;

          .list-content {
            @include all.d-flex(
              $flexdir: row,
              $jc: space-between,
              $alit: center
            );
            gap: 2.5rem;

            .edit-subtask {
              @include all.d-flex(
                $flexdir: row,
                $jc: flex-start,
                $alit: center
              );
              gap: 0.5rem;
              opacity: 0;
              pointer-events: none;

              .separator {
                height: 2rem;
                width: 0.1rem;
                background-color: #cdcdcd;
              }
            }
          }

          &:hover {
            background-color: all.$lightgray;
            .list-content .edit-subtask {
              opacity: 1;
              pointer-events: all;
            }
          }
        }
      }
    }
    // #endregion SUBTASKS-WRAPPER
  }
}
