<header>
    <img src="assets/icons/join_logo_dark.svg" alt="">
    <span>Kanban Project Management Tool</span>
    <div>
        <button id="help-btn" (click)="navigateToComponent($event, 'help')">
            <img src="./assets/icons/help.svg" alt="help button">
        </button>
        <button (click)="toggleNavbar()">SM</button>
    </div>
    <nav [ngStyle]="{'display': !navActive ? 'none': 'flex'}" >
        <button (click)="navigateToComponent($event,'legal-notice')">Legal Notice</button>
        <button (click)="navigateToComponent($event,'privacy-policy')">Privacy Policy</button>
        <button (click)="navigateToComponent($event,'')">Log out</button>
    </nav>
</header>