@use '../../../../../public/assets/styles/all-styles.scss' as all;

.overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        animation: fadeIn 0.2s ease-out forwards;
        z-index: 100;
    }

    .task-details {
        padding: 6.4rem 7.4rem 6.4rem 7.4rem;
        background: all.$white;
        border-radius: 3rem;
        box-shadow: all.$shadow;
        @include all.d-flex();

        transform: translateX(100%);
        animation: slideIn 0.28s ease-out forwards;
        button{
            background: transparent;
            position: absolute;
            right: 7.4rem;
            top: 6.4rem;
            font-size: 2.4rem;
            z-index: 5;
            cursor: pointer;
            @include all.square($length: 3rem);
            @include all.d-flex();
            &:hover{
                background: all.$lightgray;
                border-radius: 50%;
            }
        }
        @media (max-width: 1140px) {
            padding: 4.8rem 3.4rem 4.8rem 3.4rem;
            button{
                top: 4.4rem;
                right: 3.4rem;
                font-size: 2rem;
            }
        }
        @media (max-width: 480px) {
            padding: 4rem 2rem 4rem 2rem;
            button{
                top: 4rem;
                right: 2rem;
            }
        }
        @media (max-width: 420px) {
            padding: 3rem 1.5rem 3rem 1.5rem;
        }
        @media (max-width: 390px) {
            padding: 3rem 1.2rem 3rem 1.2rem;
        }
        @media (max-width: 330px) {
            padding: 3rem 0.8rem 3rem 0.8rem;
        }
    }
    // #region closing-animation
    .task-details.closing {
        animation: slideOut 0.22s ease-in forwards;
    }
    
    .overlay.closing {
    animation: fadeOut 0.28s ease-in forwards;
    }
    
    // #endregion closing-animation