@use "../../../../../../public/assets/styles/all-styles.scss" as all;

.contacts-label-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;

  .contact-label-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;

    .info {
      display: flex;
      flex-direction: column;
      .name {
        font-size: 2rem;
      }

      .mail {
        color: all.$lightblue;
      }
    }
  }

  .contact-label-box:hover {
    background-color: all.$lightgray;
  }
}
