@use './../../../../../public/assets/styles/all-styles.scss' as all;
.overlay {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.212);
    @include all.d-flex();

    .edit-contact-popup {
        @include all.d-flex($flexdir: row);
        height: 59.2rem;
        width: 121.2rem;
        .popup-head {
            background-color: all.$mainColor;
            height: 100%;
            width: 46.7rem;
            @include all.d-flex($alit: flex-start);
            gap: 0.8rem;
            padding: 0 4rem;
            color: all.$white;
            border-radius: 2.4rem 0 0 2.4rem;
            img {
                width: 6.4rem;
            }
            div {
                height: 0.2rem;
                width: 8rem;
                background-color: all.$lightblue2;
                margin-top: 0.8rem;
            }
        }
        .popup-form {
            width: 74.5rem;
            height: 100%;
            @include all.d-flex($flexdir: row);
            gap: 8rem;
            background-color: all.$white;
            border-radius: 0 3rem 3rem 0;
            .close-btn {
                position: absolute;
                top: 4rem;
                right: 4rem;
                background-color: transparent;
            }
            app-user-profile-image {
                height: 4rem;
                width: 4rem;
                bottom: 5rem;
                right: 5rem;
            }
            form {
                @include all.d-flex($rgap: 2.4rem);
                .input-wrapper {
                    >input {
                        height: 5rem;
                        border: solid 1px #D1D1D1;
                        padding-left: 1.2rem;
                        width: 42.2rem;
                        border-radius: 0.8rem;
                        color: all.$black;
                        &:focus {
                            outline: none;
                            border: 1px solid all.$lightblue2;
                        }
                    }

                    img {
                        position: absolute;
                        top: 50%;
                        right: 1.6rem;
                        transform: translateY(-50%);
                    }
                    span{
                        position: absolute;
                        top: 5rem;
                        left: 1.6rem;
                        font-size: 1.2rem;
                        color: red;
                    }
                }
                .btn-wrapper {
                    @include all.d-flex($flexdir: row, $jc: flex-start);
                    gap: 1.6rem;
                    width: 100%;

                    button {
                        height: 5rem;
                        // font-size: 1.6rem;
                        // font-family: all.$font;
                        background: all.$white ;
                        border: 1px solid black;
                        @include all.d-flex($flexdir: row);
                        gap: 0.4rem;
                        padding: 0 1.6rem;
                        border-radius: 0.8rem;
                        &:hover{
                            box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
                            border: 2px solid all.$lightblue2;
                            color: all.$lightblue2;
                        }
                    }

                    .submit-btn {
                        background-color: all.$mainColor;
                        color: all.$white;
                        @include all.style-bold;
                        &:hover{
                            background-color: all.$lightblue2;
                            color: all.$white;
                        }
                    }
                }
            }
        }
    }
}