@use './../../../../../public/assets/styles/all-styles.scss' as all;

.overlay {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.212);
    @include all.d-flex();

    .edit-contact-popup {
        @include all.d-flex($flexdir: row);
        height: 59.2rem;
        width: 121.2rem;
        animation: slideInPopUp 500ms forwards;
        animation-iteration-count: 1;

        @media(max-width: 1250px) {
            flex-direction: column;
            height: auto;
            width: 50rem;
        }

        @media(max-width: 530px) {
            width: 30rem;
        }

        .popup-head {
            background-color: all.$mainColor;
            height: 100%;
            width: 46.7rem;
            @include all.d-flex($alit: flex-start);
            gap: 0.8rem;
            padding: 0 4rem;
            color: all.$white;
            border-radius: 2.4rem 0 0 2.4rem;

            @media(max-width: 1250px) {
                width: 100%;
                height: 35.1rem;
                border-radius: 2.4rem 2.4rem 0 0;
            }

            @include all.mobile {
                height: 25rem;
                padding: 2.4rem;
            }

            .close-btn-mobile {
                position: absolute;
                top: 4rem;
                right: 4rem;
                background-color: transparent;

                @media(min-width: 1250px) {
                    display: none;
                }
            }

            >img {
                width: 6.4rem;

                @media(max-width: 1250px) {
                    display: none;
                }
            }

            div {
                height: 0.3rem;
                width: 9rem;
                background-color: all.$lightblue2;
                margin-top: 0.8rem;
            }


        }

        .popup-form {
            width: 74.5rem;
            height: 100%;
            @include all.d-flex($flexdir: row);
            gap: 8rem;
            background-color: all.$white;
            border-radius: 0 3rem 3rem 0;

            @media(max-width: 1250px) {
                width: 100%;
                height: auto;
                @include all.d-flex($flexdir: column, $gap: 0);
                border-radius: 0 0 2.4rem 2.4rem;
            }

            .close-btn {
                position: absolute;
                top: 4rem;
                right: 4rem;
                background-color: transparent;

                @media(max-width: 1250px) {
                    display: none;
                }
            }

            app-user-profile-image {
                height: 4rem;
                width: 4rem;
                bottom: 5rem;
                right: 5rem;

                @media(max-width: 1250px) {
                    transform: translateY(-50%);
                }

                @include all.mobile {
                    transform: translateX(20%);
                }
            }

            form {
                @include all.d-flex($rgap: 2.4rem);

                @media(max-width: 1250px) {
                    padding: 5rem 2rem;
                }

                @include all.mobile {
                    gap: 1.6rem;
                    padding: 5rem 2rem 2rem 2rem;
                }

                .input-wrapper {
                    >input {
                        height: 5rem;
                        border: solid 1px #D1D1D1;
                        padding-left: 1.2rem;
                        width: 42.2rem;
                        border-radius: 0.8rem;
                        color: all.$black;

                        &:focus {
                            outline: none;
                            border: 1px solid all.$lightblue2;
                        }

                        @media (max-width: 1250px) {
                            font-size: 2rem;
                        }

                        @include all.mobile {
                            height: 3.2rem;
                            width: 27rem;
                            font-size: 1.8rem;
                        }
                    }

                    img {
                        position: absolute;
                        top: 50%;
                        right: 1.6rem;
                        width: 2rem;
                        transform: translateY(-50%);

                        @include all.mobile {
                            width: 1.8rem;
                        }
                    }

                    span {
                        position: absolute;
                        top: 5rem;
                        left: 1.6rem;
                        font-size: 1.2rem;
                        color: red;
                    }
                }

                .btn-wrapper {
                    @include all.d-flex($flexdir: row, $jc: flex-start);
                    gap: 1.6rem;
                    width: 100%;

                    @media (max-width: 1250px) {
                        @include all.d-flex($flexdir: row, $jc: center, $alit: center, $cgap: 2rem);
                    }

                    button {
                        height: 5rem;
                        background: all.$white ;
                        border: 1px solid black;
                        @include all.d-flex($flexdir: row);
                        gap: 0.4rem;
                        padding: 0 1.6rem;
                        border-radius: 0.8rem;

                        @media (max-width: 1250px) {
                            font-size: 2rem;
                        }

                        @include all.mobile {
                            font-size: 1.8rem;
                        }
                    }

                    .delete-btn {
                        &:hover {
                            box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
                            border: 2px solid all.$lightblue2;
                            color: all.$lightblue2;
                        }
                    }

                    #submit-btn {
                        color: all.$white;
                        @include all.style-bold;

                        &.btn-disabled {
                            cursor: not-allowed;
                            background-color: all.$iconColor;
                            border: 2px solid all.$iconColor;
                        }

                        &.btn-enabled {
                            background-color: all.$mainColor;
                            cursor: pointer;

                            &:hover {
                                background-color: all.$lightblue2;
                                border: 2px solid all.$lightblue2;
                                color: all.$white;
                                box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}