<div class="overlay">
    <div class="edit-contact-popup">
        <div class="popup-head">
            <button class="close-btn-mobile" (click)="closeEditWindow()">
                <img src="assets/icons/cancel-white.svg" alt="cancel button">
            </button>
            <img src="assets/icons/join_logo.svg" alt="Join Logo">
            <h1>Edit contact</h1>
            <div></div>
        </div>
        <div class="popup-form">
            <button class="close-btn" (click)="closeEditWindow()"><img src="assets/icons/cancel.svg" alt="cancel button"></button>
            <app-user-profile-image></app-user-profile-image>
            <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                <div class="input-wrapper">
                    <input #name="ngModel" [(ngModel)]="contactData.name" type="text" name="name" placeholder="Name"
                        required [ngStyle]="{'border-color': !name.valid && name.touched ? 'red' : 'all.$lightblue2'}"><img src="assets/icons/person-gray.svg" alt="">
                    <span *ngIf="!name.valid && name.touched">Please enter a name!</span>
                </div>
                <div class="input-wrapper">
                    <input #mail="ngModel" [(ngModel)]="contactData.mail" type="email" name="email" placeholder="Email"
                        required [ngStyle]="{'border-color': !mail.valid && mail.touched ? 'red' : 'all.$lightblue2'}"><img
                        src="assets/icons/mail.svg" alt="">
                    <span *ngIf="!mail.valid && mail.touched">Please enter a valid email address!</span>
                </div>
                <div class="input-wrapper">
                    <input #phone="ngModel" [(ngModel)]="contactData.phone" type="text" name="phone" placeholder="Phone"
                        required [ngStyle]="{'border-color': !phone.valid && phone.touched ? 'red' : 'all.$lightblue2'}"><img src="assets/icons/phone.svg" alt="">
                    <span *ngIf="!phone.valid && phone.touched">Please enter phone number!</span>
                </div>
                <div class="btn-wrapper">
                    <button class="delete-btn" (click)="sendDeleteInput()">Delete</button>
                    <button id="submit-btn" type="submit" [disabled]="!contactForm.valid" [ngClass]="{'btn-disabled': !contactForm.valid, 'btn-enabled': contactForm.valid}">Save<img src="assets/icons/check.svg" alt="check-img"></button>
                </div>
            </form>
        </div>
    </div>
</div>