<section>
    <img src="assets/icons/join_logo.svg" alt="Join logo">
    <nav>
        <button type="button" (click)="navigateToComponent($event,'summary')"><img src="assets/icons/summary.svg" alt="Summary"><span>Summary</span></button>
        <button type="button" (click)="navigateToComponent($event,'add-task')"><img src="assets/icons/addtask.svg" alt="Add task"><span>Add Task</span></button>
        <button type="button" (click)="navigateToComponent($event,'board')"><img src="assets/icons/board.svg" alt="Board"><span>Board</span></button>
        <button type="button" (click)="navigateToComponent($event,'contacts')"><img src="assets/icons/contact.svg" alt="Contact"><span>Contacts</span></button>
    </nav>
    <div>
        <button (click)="navigateToComponent($event,'privacy-policy')">Privacy Policy</button>
        <button (click)="navigateToComponent($event,'legal-notice')">Legal Notice</button>
    </div>
</section>
