@use "../../../../../public/assets/styles/all-styles.scss" as all;

section {
    height: 100dvh;
    width: 23.2rem;
    background: all.$mainColor;

  @include all.d-flex($jc: space-between);
  padding: 4rem 0;

    button {
        color: all.$lightgray2;
        background: transparent;
        text-decoration: none;
    }

  nav {
    @include all.d-flex($alit: flex-start);
    gap: 1rem;
    width: 100%;

        button {
            @include all.d-flex($flexdir: row, $jc: flex-start);
            background: all.$mainColor;
            width: 100%;
            gap: 0.8rem;
            padding: 1.2rem 4rem;
            transition: 125ms;
            color: all.$lightgray2;

            &:hover {
                background: all.$hoverMainColor;
            }
        }
    }

    >div {
        @include all.d-flex($alit: flex-start);
        gap: 1rem;
        width: 100%;

        button {
            width: 100%;
            padding: 1.2rem 4rem;
            &:hover {
                background: all.$hoverMainColor;
            }
        }
    }
}
@media (max-width: 800px) {
  section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    padding: 0 1rem;

    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      button {
        width: 100%;
        max-width: 12rem;
        display: flex;
        flex-direction: column;
        border-radius: 1.6rem;
        padding: 1.2rem 2rem;
        &:hover {
          background-color: #091931;
        }
      }
    }

    div {
      display: none;
    }
  }
}