@use "../../../../../public/assets/styles/all-styles.scss" as all;
.task-card {
  width: 25.2rem;
  height: 24.4rem;
  background-color: all.$white;
  border-radius: 2.4rem;
  padding: 1.6rem;
  @include all.d-flex($jc: space-between, $alit: flex-start, $flexdir: column);
  box-shadow: all.$shadow;
  cursor: pointer;

  .category {
    .category-label {
      color: all.$white;
      padding: 0.4rem 1.6rem;
      border-radius: 0.8rem;
    }
  }

  .description {
    width: 22rem;
    height: 6.5rem;
    @include all.d-flex(
      $flexdir: column,
      $jc: space-between,
      $alit: flex-start
    );
    gap: 0.5rem;

    .descrip-label {
      font-size: 1.6rem;
      font-weight: bold;
    }
    .descrip {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      word-wrap: break-word;
      font-size: 1.6rem;
      color: all.$iconColor;
    }
  }

  .subtasks {
    width: 100%;
    @include all.d-flex($flexdir: row, $jc: space-between, $alit: center);
    .label {
      font-size: 1.4rem;
    }
    progress.progress {
      width: 12.8rem;
      height: 0.8rem;
      border: none;
      border-radius: 1rem;
      overflow: hidden;
    }

    .progress::-webkit-progress-bar {
      background-color: all.$lightgray4;
    }

    .progress::-webkit-progress-value {
      background-color: #4589ff;
    }

    .progress::-moz-progress-bar {
      background-color: #4589ff;
    }
  }

  .contact-priority {
    width: 100%;
    @include all.d-flex(
      $flexdir: row,
      $jc: space-between,
      $alit: space-between
    );

    .contacts {
      @include all.d-flex($flexdir: row, $jc: center, $alit: center);
      gap: 0.5rem;
      .contact {
        width: 3.2rem;
        height: 3.2rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 1.2rem;
        color: all.$white;
        border: 0.1rem solid all.$white;
        margin-left: -0.6rem;
      }
      .contacts-number {
        font-size: 1.6rem;
      }
    }

    .priority {
      @include all.d-flex($flexdir: row, $jc: center, $alit: center);
    }
  }
}
