.date-input-wrapper {

    display: flex;
    width: 40rem;

    @media(max-width: 450px) {
        width: 35rem;
    }

    @media(max-width: 380px) {
        width: 30rem;
    }

    height: 4rem;
    align-items: center;
    border: 1px solid #D9D9D9;
    border-radius: 0.8rem;
    padding-right: 40px;
    background-color: white;

    input {
        border: none;
        outline: none;
        padding: 8px 12px;
        font-size: 14px;
    }

    mat-datepicker-toggle {
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
        color: #666;
    }

    .warning-date {
        color: #FF3D00;
        position: absolute;
        top: 4.2rem;
        left: 1rem;
    }
}