<section>
  <div class="board-title-div">
    <h1>Board</h1>
    <div>
      <div class="search-div">
        <input type="text" id="search-input" placeholder="Find Task" />
        <div class="vline"></div>
        <img src="./assets/icons/search.svg" alt="search for" />
      </div>
      <button id="add-task-global">
        <h5>Add task</h5>
        <img src="./assets/icons/add.svg" alt="add button" />
      </button>
    </div>
  </div>
  <div class="board-title-div-mobile">
    <div>
      <h1>Board</h1>
      <button id="add-task-global">
        <h5>Add task</h5>
        <img src="./assets/icons/add.svg" alt="add button" />
      </button>
    </div>
    <div class="search-div">
      <input type="text" id="search-input" placeholder="Find Task" />
      <div class="vline"></div>
      <img src="./assets/icons/search.svg" alt="search for" />
    </div>
  </div>
  <app-task-card></app-task-card>
</section>
