<section>
  <h1>Legal notice</h1>
  <p>
    Felicia Tretter <br />
    Wuppertaler Straße 30a <br />
    51067 Cologne, Germany
  </p>
  <p>
    Henry Wolf <br />
    Dollahner Straße 4b <br />
    18609 Ostseebad Binz, Germany
  </p>
  <p>
    Nils Alberding-Schulz <br />
    Walter Stöcker Straße 10 <br />
    18069 Rostock, Germany
  </p>
  <h3>Contact</h3>
  <p>Phone: +49 (0) 176 6267 8239</p>
  <p>
    Email: <br />
    felicia.primadita&#64;web.de <br />
    HWolf.binz&#64;gmail.com <br />
    nilsalberding&#64;web.de
  </p>
  <p>Source: <a href="https://www.e-recht24.de">eRecht24</a></p>
</section>
