@use './../../../../../public/assets/styles/all-styles.scss' as all;
section{
    background-color: all.$lightgray;
    padding: 11rem 9.6rem;

    h1, h3{
        padding-bottom: 3rem;
    }
    p{
        padding-bottom: 2.4rem;
    }
}