@use "../../../../../../public/assets/styles/all-styles.scss" as all;

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100dvh;
  animation: fadeIn 0.2s ease-out forwards;
  z-index: 100;
  padding: 0 1rem;
}

// region-task-details
.task-details {
  width: 100%;
  height: auto;
  max-height: calc(100dvh - 3rem);
  max-width: 52.5rem;
  background: all.$white;
  border-radius: 3rem;
  padding: 1.7rem 1.5rem;
  box-shadow: all.$shadow;
  @include all.d-flex(
    $flexdir: column,
    $jc: space-between,
    $alit: space-between
  );
  gap: 2rem;

  transform: translateX(100%);
  animation: slideIn 0.28s ease-out forwards;

  /* Keyframes */
  @keyframes slideIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .category-title {
    .task-title {
      overflow-wrap: anywhere;
    }
  }

  // #region close-btn & priority
  .categoryAndClosebtn {
    width: 100%;
    @include all.d-flex($flexdir: row, $jc: space-between, $alit: center);

    .category {
      color: all.$white;
      padding: 0.4rem 1.6rem;
      border-radius: 0.8rem;
    }

    button {
      border-radius: 1rem;
      padding: 0.25rem 0.5rem;
      background: all.$white;
    }

    button:hover {
      background: all.$lightgray4;
    }
  }
  // #endregion close-btn & priority

  .category-title {
    .task-title {
      font-size: 6.1rem;
      font-weight: bold;
      @include all.tablet {
        font-size: 4.8rem;
      }
      @include all.mobile {
        font-size: 3.6rem;
      }
    }
  }

  // #region description
  .description {
    width: 100%;

    scrollbar-width: none;
    padding: 1rem 0;
    .descrip {
      font-size: 2rem;
      @include all.mobile {
        font-size: 1.6rem;
      }
    }
  }
  // #endregion description

  .due-date {
    font-size: 2rem;
    @include all.d-flex($flexdir: row, $jc: flex-start, $alit: center);

    .date-label {
      width: 100%;
      max-width: 10rem;
      white-space: nowrap;
    }

    .date {
      width: 100%;
      max-width: 10rem;
    }
  }

  .priority {
    @include all.d-flex($flexdir: row, $jc: flex-start, $alit: flex-start);

    .prio-label {
      width: 100%;
      max-width: 10rem;
    }

    .prio {
      width: 100%;
      max-width: 10rem;
      @include all.d-flex($flexdir: row, $jc: flex-start, $alit: center);
      gap: 1rem;
    }
  }

  .assigned-to {
    @include all.d-flex($flexdir: column, $jc: flex-start, $alit: flex-start);
    gap: 0.5rem;
    width: 95%;
    ul {
      @include all.d-flex($flexdir: column, $jc: flex-start, $alit: flex-start);
      gap: 0.5rem;
      width: 100%;
      height: 100%;
      max-height: 11.6rem;
      overflow-y: auto;
      scrollbar-width: none;
      margin-left: 2rem;
      padding: 0.5rem 0;
      li {
        @include all.d-flex($flexdir: row, $jc: flex-start, $alit: center);
        gap: 2.5rem;
        margin: 0.5rem 0;

        .avatar {
          width: 3.2rem;
          height: 3.2rem;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          color: all.$white;
        }
      }
    }
  }

  .subtasks {
    @include all.d-flex($flexdir: column, $jc: flex-start, $alit: flex-start);
    gap: 0.5rem;
    ul {
      width: 95%;
      margin-left: 2rem;
      li {
        @include all.d-flex($flexdir: row, $jc: flex-start, $alit: center);
        gap: 1rem;
        // margin: 0.5rem 0;
        padding: 0.5rem 1rem;
        border-radius: 1rem;

        input {
          cursor: pointer;
        }
      }
      li:hover {
        background-color: all.$lightgray4;
      }
    }
  }

  .deleAndEditBtn {
    width: 100%;
    @include all.d-flex($flexdir: row, $jc: flex-end, $alit: center);
    gap: 2rem;

    button {
      @include all.d-flex($flexdir: row, $jc: center, $alit: center);
      gap: 0.5rem;
      font-size: 1.6rem;
      background: all.$white;
    }

    button:hover {
      color: all.$lightblue2;
    }
  }
}

.task-detail-card {
  width: 100%;
  @include all.d-flex($flexdir: column, $jc: space-between, $alit: flex-start);
  gap: 1.5rem;
  overflow-y: auto;
  padding: 0 2rem 2rem 2rem;
}
// endregion-task-details

// #region closing-animation
.task-details.closing {
  animation: slideOut 0.22s ease-in forwards;
}
@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
.overlay.closing {
  animation: fadeOut 0.28s ease-in forwards;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
// #endregion closing-animation
