@use '../../../../../public/assets/styles/all-styles.scss' as all;
section{
    padding: 11rem 9.6rem ;
    background-color: all.$lightgray;
    width: 100%;
    text-align: left;
    overflow-y: auto;
    @include all.d-flex( $jc: flex-start, $alit: flex-start);
    @include all.notebook{
        padding: 8rem;
    }
    @include all.tablet {
        padding: 4.8rem 2.4rem 2.4rem 2.4rem;
    }
    @include all.mobile {
        padding: 2.2rem;
    }
    div{
        width: 100%;
        @include all.d-flex($flexdir: row, $jc: space-between, $alit: center);
        button{
            background: transparent;
            border-radius: 50%;
            @include all.d-flex();
            &:hover{
                background: all.$lightgray2;
            }
            @include all.mobile{
                img{
                    @include all.square($length: 2.8rem);
                }
            }
        }
        padding-bottom: 3rem;
    }
    h3{
        padding-bottom: 3rem;
    }
    p{
        padding-bottom: 2.4rem;
    }
    ol{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 3rem;
        li{
            list-style-type: decimal;
            padding-left: 2rem;
        }
    }
}
.blue{
    color: all.$lightblue2;
}