@use './../../../../../public/assets/styles/all-styles.scss' as all;
div{
    width: 12rem;
    height: 12rem;
    border: 2px solid all.$white;
    box-shadow: all.$shadow;
    background-color: purple;
    border-radius: 50%;
    color: all.$white;
    @include all.d-flex($jc: center, $alit: center);
}