@use "./../../../../../public/assets/styles/all-styles.scss" as all;

div {
  @include all.d-flex($flexdir: row, $alit: center, $cgap: 3rem);
  .vl {
    width: 3px;
    height: 6rem;
    background: all.$lightblue2;
  }
  h4 {
    color: all.$mainColor;
  }
}

@media (max-width: 1000px) {
  div {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .vl {
      display: none;
    }
    .vl-mobile {
      width: 50%;
      height: 0.25rem;
      margin-top: 1rem;
      background: all.$lightblue2;
    }
  }
}
