@use './../../../../../public/assets/styles/all-styles.scss' as all;

div{
    @include all.d-flex($flexdir: row, $alit: center, $cgap: 3rem);
    .vl{
        width: 3px;
        height: 6rem;
        background: all.$lightblue2;
    }
    h4{
        color: all.$mainColor;
    }
}