.content-wrapper {
  width: calc(100% - 232px);
  max-width: calc(1920px - 232px);
}

@media (max-width: 1300px) {
  .content-wrapper {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .content-wrapper {
    // overflow-y: auto;
    display: flex;
    flex-direction: column;
  }
}
