:host {
  display: flex;
}

.content-wrapper {
  width: calc(100% - 232px);
  max-width: calc(1920px - 232px);
  height: 100%;
}

@media (max-width: 1300px) {
  .content-wrapper {
    width: 100%;
  }
}

@media (max-width: 800px) {
  :host {
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
  }
  .content-wrapper {
    display: flex;
    flex-direction: column;
  }
}
