.content-wrapper {
  min-width: 0;
}

@media (max-width: 1300px) {
  .content-wrapper {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .content-wrapper {
    // overflow-y: auto;
    display: flex;
    flex-direction: column;
  }
}
