<div class="overlay">
    <div class="add-contact-popup">
        <div class="popup-head">
            <img src="assets/icons/join_logo.svg" alt="Join Logo">
            <h1>Add contact</h1>
            <h4>Tasks are better with a team!</h4>
            <div></div>
        </div>
        <div class="popup-form">
            <button class="close-btn"><img src="assets/icons/cancel.svg" alt=""></button>
            <div class="person-img">
                <img src="assets/icons/person.svg" alt="person">
            </div>

            <form action="">
                <div class="input-wrapper">
                    <input type="text" placeholder="Name"><img src="assets/icons/person-gray.svg" alt="">
                </div>
                <div class="input-wrapper">
                    <input type="text" placeholder="Email"><img src="assets/icons/mail.svg" alt="">
                </div>
                <div class="input-wrapper">
                    <input type="text" placeholder="Phone"><img src="assets/icons/phone.svg" alt="">
                </div>
                <div class="btn-wrapper">
                    <button class="cancel-btn">Cancel<img src="assets/icons/cancel.svg" alt="cancel-icon"></button>
                    <div class="submit-wrapper">
                        <input type="submit" value="Create contact">
                        <img src="assets/icons/check.svg" alt="check-img">
                    </div>
                    
                </div>
            </form>
        </div>
    </div>
</div>