<div class="overlay">
    <div class="add-contact-popup">
        <div>
            <img src="assets/icons/join_logo" alt="Join Logo">
            <h1>Add contact</h1>
            <h2>Tasks are better with a team!</h2>
            <div></div>
        </div>
        <div><button></button><img src="" alt="">
        <form action="">
            <input type="text">
            <input type="text">
            <input type="text">
            <div>
                <button>Cancel<img src="assets/icons/cancel" alt="cancel-icon"></button>
                <input type="submit" placeholder="Create contact">
            </div>
        </form></div>
    </div>
</div>