@keyframes slideInFromRight {
    0% {transform: translateX(100%)};
    100% {transform:translateX(35%)}
}

@keyframes slideInFromRight-tablet {
    0% {transform: translateX(100%)};
    100% {transform:translateX(20%)}
}

@keyframes slideInFromRight-mobile {
    0% {transform: translateX(80%)};
    100% {transform:translateX(10%)}
}

@keyframes slideInFromRight-bigscreen {
    0% {transform: translateX(0%)};
    100% {transform:translateX(-250%)}
}

@keyframes toast-addtask-slideInFromRight {
    0% {transform: translateX(100%)};
    100% {transform:translateX(-50%)}
}

@keyframes slideInPopUp {
    0% {transform: translateX(100%)};
    100% {transform:translateX(0%)}
}

@keyframes slideIn {
    from {transform: translateX(100%);}
    to {transform: translateX(0);}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes slideOut {
    from {transform: translateX(0);}
    to {transform: translateX(100%);}
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}