@keyframes slideInFromRight {
    0% {transform: translateX(100%)};
    100% {transform:translateX(35%)}
}

@keyframes slideInFromRight-tablet {
    0% {transform: translateX(100%)};
    100% {transform:translateX(20%)}
}

@keyframes slideInFromRight-mobile {
    0% {transform: translateX(80%)};
    100% {transform:translateX(10%)}
}

@keyframes slideInFromRight-bigscreen {
    0% {transform: translateX(0%)};
    100% {transform:translateX(-250%)}
}

@keyframes slideInPopUp {
    0% {transform: translateX(100%)};
    100% {transform:translateX(0%)}
}