$font: 'Inter', sans-serif ;
$mainColor: #2a3647;
$lightblue: #007cee;
$lightblue2: #29abe2;
$lightgray: #f6f7f8;
$iconColor: #a8a8a8;
$black: black;
$white: white;
$shadow: 4px 0px 6px 0px rgba(0, 0, 0, 0.08);
