$font: 'Inter', sans-serif ;
$mainColor: #2a3647;
$hoverMainColor: #091931;
$lightblue: #007cee;
$lightblue2: #29abe2;
$lightgray: #f6f7f8;
$lightgray2: #cdcdcd;
$lightgray3: #d1d1d1;
$iconColor: #a8a8a8;
$black: black;
$white: white;
$shadow: 4px 0px 6px 0px rgba(0, 0, 0, 0.08);

$header-height: 6.4rem;

$navbar-height: 100dvh;
$navbar-height-mobile: 7rem;
