$font: "Inter", sans-serif;
$mainColor: #2a3647;
$menuColor: #42526e;
$hoverMainColor: #091931;
$blue: #0038ff;
$lightblue: #007cee;
$lightblue2: #29abe2;
$lightgray: #f6f7f8;
$lightgray2: #cdcdcd;
$lightgray3: #d1d1d1;
$lightgray4: #f4f4f4;
$lightgray5: #e7e7e7;
$lightgray6: #d9d9d9;
$iconColor: #a8a8a8;
$black: black;
$white: white;
$priority_urgent: #ff3d00;
$priority_medium: #ffa800;
$priority_low: #7ae229;
$shadow: 4px 0px 6px 0px rgba(0, 0, 0, 0.08);

$header-height: 6.4rem;

$navbar-height: 100dvh;
$navbar-height-mobile: 7rem;
