@use '../../../../../public/assets/styles/all-styles.scss' as all;

.content {
    @include all.d-flex($alit: flex-start);
    gap: 3rem;

    form {
        @include all.d-flex();
        width: 100%;
        gap: 8rem;

        .form-input {
            @include all.d-flex($flexdir: row, $alit: flex-start);
            gap: 2.4rem;
            width: 100%;
            // height: 30rem;


            .input-wrapper {
                width: 40rem;
                margin-bottom: 2.4rem;

                h6 {
                    margin-bottom: 0.8rem;
                }

                .form-field {
                    height: 4rem;
                    border: solid 1px #D9D9D9;
                    padding-left: 1.2rem;
                    padding-right: 3.6rem;
                    width: 100%;
                    border-radius: 0.8rem;
                    color: all.$black;
                    font-size: 1.6rem;
                    font-family: all.$font;

                    .rp-selection {
                        height: 15rem;
                        width: 100%;
                        overflow-y: scroll;
                        z-index: 100;

                        option {
                            width: 100%;
                            height: 4rem;
                            overflow-x: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            .initials {
                                width: 3rem;
                                height: 3rem;
                                border-radius: 50%;
                                border: 0.2rem solid black;
                                padding: 1.5rem;
                                font-size: 1.2rem;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color: all.$white;
                            }
                        }


                    }
                }

                textarea {
                    height: 12rem;
                    border: solid 1px #D9D9D9;
                    padding-left: 1.2rem;
                    padding-right: 1.2rem;
                    width: 100%;
                    border-radius: 0.8rem;
                    color: all.$black;
                    font-size: 1.6rem;
                    font-family: all.$font;
                    resize: none;
                }

                .priority-btn-wrapper {
                    width: 100%;
                    @include all.d-flex($flexdir: row, $jc: space-between);

                    button {
                        @include all.d-flex($flexdir: row);
                        gap: 0.8rem;
                        width: 30%;
                        height: 4rem;
                        border-radius: 0.8rem;
                        border: solid 1px #D9D9D9;
                        background-color: all.$white;
                        transition: 125ms;

                        &:hover {
                            box-shadow: all.$shadow;
                        }

                        svg {
                            height: 1.6rem;
                            width: 1.6rem;
                        }
                    }
                }
            }

            .dividing-line {
                width: 1px;
                height: 35rem;

                background-color: #D9D9D9;
            }
        }

        .form-submit {
            @include all.d-flex($flexdir: row, $jc: space-between, $alit: flex-end);
            width: 100%;

            .btn-wrapper {
                @include all.d-flex($flexdir: row, $jc: flex-start);
                gap: 1.6rem;

                button {
                    height: 5rem;
                    background: all.$white ;
                    border: 2px solid black;
                    @include all.d-flex($flexdir: row);
                    gap: 0.8rem;
                    padding: 0 1.6rem;
                    border-radius: 0.8rem;
                    transition: 125ms;

                    .cancel-icon {
                        width: 20px;
                        height: 20px;
                        stroke: all.$black;
                        stroke-width: 2;
                        fill: none;
                        transition: stroke 0.2s ease;
                    }

                    &:hover {
                        border: 2px solid all.$lightblue2;
                        color: all.$lightblue2;
                        box-shadow: all.$shadow;

                        .cancel-icon {
                            stroke: all.$lightblue2;
                        }
                    }

                    @include all.mobile {
                        display: none;
                    }
                }

                .submit-wrapper {

                    input {
                        height: 5rem;
                        background-color: all.$mainColor;
                        color: all.$white;
                        padding-left: 0.8rem;
                        padding-right: 4rem;
                        font-size: 1.6rem;
                        font-family: all.$font;
                        border-radius: 0.8rem;
                        transition: 125ms;
                        cursor: pointer;

                        &:hover {
                            background-color: all.$lightblue2;
                            box-shadow: all.$shadow;
                        }
                    }

                    img {
                        position: absolute;
                        top: 50%;
                        right: 0.8rem;
                        transform: translateY(-50%);
                    }
                }
            }
        }


    }
}