@use '@angular/material' as mat;
@use '../../../../../public/assets/styles/all-styles.scss' as all;

.content {
    @include all.d-flex($alit: flex-start);
    gap: 3rem;

    form {
        @include all.d-flex();
        width: 100%;
        gap: 3rem;

        .form-input {
            @include all.d-flex($flexdir: row, $alit: flex-start);

            @media(max-width: 1140px) {
                // flex-direction: column;
                // gap: 0;
                display: block;
                height: 70dvh;
                overflow-y: auto;

                &::-webkit-scrollbar {
                    display: none;
                }
            }

            @media(max-height: 950px) {
                height: 65dvh;
            }

            @media(max-height: 870px) {
                height: 60dvh;
            }

            @media(max-height: 750px) {
                height: 55dvh;
            }

            gap: 2.4rem;
            width: 100%;


            .input-wrapper {
                width: 40rem;
                margin-bottom: 2.4rem;

                @media(max-width: 450px) {
                    width: 35rem;
                }

                @media(max-width: 380px) {
                    width: 30rem;
                }

                h6 {
                    margin-bottom: 0.8rem;
                }
                .warning{
                    color: #FF3D00;
                    position: absolute;
                    top: 7.2rem;
                    left: 1rem;
                }

                .form-field {
                    height: 4rem;
                    border: solid 1px #D9D9D9;
                    padding-left: 1.2rem;
                    padding-right: 3.6rem;
                    width: 100%;
                    border-radius: 0.8rem;
                    color: all.$black;
                    font-size: 1.6rem;
                    font-family: all.$font;
                }

                textarea {
                    height: 12rem;
                    border: solid 1px #D9D9D9;
                    padding: 0.8rem 1.2rem;
                    width: 100%;
                    border-radius: 0.8rem;
                    color: all.$black;
                    font-size: 1.6rem;
                    font-family: all.$font;
                    resize: none;
                }

                .priority-btn-wrapper {
                    width: 100%;
                    @include all.d-flex($flexdir: row, $jc: space-between);

                    button {
                        @include all.d-flex($flexdir: row);
                        gap: 0.8rem;
                        width: 30%;
                        height: 4rem;
                        border-radius: 0.8rem;
                        border: solid 1px #D9D9D9;
                        background-color: all.$white;
                        transition: 125ms;

                        &:hover {
                            box-shadow: all.$shadow;
                        }

                        svg {
                            height: 1.6rem;
                            width: 1.6rem;
                        }
                    }

                    .active-urgent {
                        background-color: #FF3D00;
                        color: all.$white;

                        path {
                            fill: all.$white;
                        }
                    }

                    .active-medium {
                        background-color: #FFA800;
                        color: all.$white;

                        path {
                            fill: all.$white;
                        }
                    }

                    .active-low {
                        background-color: #7AE229;
                        color: all.$white;

                        path {
                            fill: all.$white;
                        }
                    }
                }
            }

            #subtask-wrapper {
                button {
                    height: 2rem;
                    width: 2rem;
                    background-color: transparent;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 1.9rem;
                    border-radius: 50%;

                    &:hover {
                        background-color: all.$lightgray2;
                    }
                }

                .subtask-input-wrapper {
                    height: 4rem;
                    width: 100%;

                    #subtask-input {
                        padding-right: 6rem;
                    }

                    .subtask-btn-wrapper {
                        @include all.d-flex($flexdir: row);
                        gap: 0.4rem;
                        position: absolute;
                        top: 50%;
                        right: -1.6rem;
                        transform: translate(-50%, -50%);

                        .clear-btn {
                            background-image: url(../../../../../public/assets/icons/cancel.svg);
                        }

                        .btn-divide {
                            height: 2rem;
                            width: 0.1rem;
                            background-color: all.$lightgray2;
                        }

                        .add-btn {
                            background-image: url(../../../../../public/assets/icons/check_dark.svg);
                        }
                    }
                }

                ul {
                    list-style-type: disc;
                    max-height: 8rem;
                    overflow-x: auto;

                    li {
                        @include all.d-flex($flexdir: row, $jc: space-between);
                        font-size: 1.6rem;
                        font-weight: 400;
                        font-family: 'Inter';
                        padding: 0.4rem 1.6rem;

                        .del-subtask {
                            background-image: url(../../../../../public/assets/icons/delete.svg);
                            background-size: 1.7rem;
                        }
                    }
                }
            }

            #rp-wrapper {

                height: 12rem;

                .rp-selected-box {
                    @include all.d-flex($flexdir: row, $jc: flex-start);
                    margin-top: 1.6rem;
                }

                .initials {
                    width: 4rem;
                    height: 4rem;
                    border-radius: 50%;
                    border: 0.2rem solid all.$white;
                    padding: 1.5rem;
                    font-size: 1.6rem;
                    font-weight: 300;
                    font-family: 'Inter';
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: all.$white;
                    margin-right: 0.8rem;
                }

                span {
                    font-weight: 600;
                }
            }

            .date-input-wrapper {

                display: flex;
                width: 40rem;

                @media(max-width: 450px) {
                    width: 35rem;
                }

                @media(max-width: 380px) {
                    width: 30rem;
                }

                height: 4rem;
                align-items: center;
                border: 1px solid #D9D9D9;
                border-radius: 0.8rem;
                padding-right: 40px;
                background-color: white;

                input {
                    border: none;
                    outline: none;
                    padding: 8px 12px;
                    font-size: 14px;
                }

                mat-datepicker-toggle {
                    position: absolute;
                    right: 8px;
                    top: 50%;
                    transform: translateY(-50%);
                    color: #666;
                }
                .warning-date{
                    color: #FF3D00;
                    position: absolute;
                    top: 4.2rem;
                    left: 1rem;
                }
            }

            .dividing-line {
                width: 1px;
                height: 35rem;
                background-color: #D9D9D9;

                @media(max-width: 1140px) {
                    display: none;
                }
            }

            .required-text {
                @media(min-width: 1139px) {
                    display: none;
                }
            }
        }

        .form-submit {
            @include all.d-flex($flexdir: row, $jc: space-between, $alit: flex-end);

            @media(max-width:1140px) {
                justify-content: center;
            }

            width: 100%;

            span {
                @media(max-width:1140px) {
                    display: none;
                }
            }

            .btn-wrapper {
                @include all.d-flex($flexdir: row, $jc: flex-start);
                gap: 1.6rem;

                button {
                    height: 5rem;
                    background: all.$white ;
                    border: 2px solid black;
                    @include all.d-flex($flexdir: row);
                    gap: 0.8rem;
                    padding: 0 1.6rem;
                    border-radius: 0.8rem;
                    transition: 125ms;

                    .cancel-icon {
                        width: 20px;
                        height: 20px;
                        stroke: all.$black;
                        stroke-width: 2;
                        fill: none;
                        transition: stroke 0.2s ease;
                    }

                    &:hover {
                        border: 2px solid all.$lightblue2;
                        color: all.$lightblue2;
                        box-shadow: all.$shadow;

                        .cancel-icon {
                            stroke: all.$lightblue2;
                        }
                    }

                }

                .submit-wrapper {

                    input {
                        height: 5rem;
                        background-color: all.$mainColor;
                        color: all.$white;
                        padding-left: 0.8rem;
                        padding-right: 4rem;
                        font-size: 1.6rem;
                        font-family: all.$font;
                        border-radius: 0.8rem;
                        transition: 125ms;
                        cursor: pointer;

                        &:hover {
                            background-color: all.$lightblue2;
                            box-shadow: all.$shadow;
                        }
                    }

                    img {
                        position: absolute;
                        top: 50%;
                        right: 0.8rem;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
    .red{
        color: red;
    }
}