<div class="content">
    <h1>Add Task</h1>
    <form action="">
        <div>
            <div>
                <h6>Title</h6>
                <input type="text">
            </div>
            <div>
                <h6>Description</h6>
                <textarea name="" id=""></textarea>
            </div>
            <div>
                <h6>Due date*</h6>
                <input type="text">
            </div>
        </div>
        <div></div>
        <div>
            <div>
                <h6>Priority</h6>
                <div>
                    <button>Urgent</button>
                    <button>Medium</button>
                    <button>Low</button>
                </div>

            </div>
            <div>
                <h6>Assigned to</h6>
                <input type="text">
            </div>
            <div>
                <h6>Category</h6>
                <input type="text">
            </div>
            <div>
                <h6>Subtasks</h6>
                <input type="text">
            </div>
        </div>
    </form>
</div>  