@use "../../../../../public/assets/styles/all-styles.scss" as all;

.contact-list-container {
  background-color: all.$white;
  width: 100%;

  @include all.d-flex(
    $flexdir: column,
    $alit: center,
    $jc: center,
    $cgap: 0.5rem
  );
  box-shadow: all.$shadow;
  padding: 15px 30px;
  overflow-y: scroll;

  .add-new-contact-box {
    .add-new-contact-btn {
      @include all.press-button-style();
    }
  }

  .contact-list {
    width: 100%;
    height: calc(100dvh - 15.4rem);
  }
}
