@use "../../../../../public/assets/styles/all-styles.scss" as all;

.contact-list-container {
  background-color: all.$white;
  width: fit-content;
  height: 200px;
  @include all.d-flex($flexdir: column, $alit: flex-start, $jc: center, $cgap: 5px);
  box-shadow: all.$shadow;
  padding: 15px 30px;
  overflow-y: scroll;

  .add-new-contact-box {
    .add-new-contact-btn {
      @include all.press-button-style();
    }
  }
}
