@use './../public/assets/styles/all-styles.scss' as all;

// #region GENERAL
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  scroll-behavior: smooth;
  list-style: none;
  border-style: none;
}

.content {
  width: 100%;
  max-width: calc(1920px - 232px);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-family: all.$font;
}

section {
  width: 100%;
  height: calc(100dvh - all.$header-height);
  @media(max-width: 800px){
    height: calc(100dvh - all.$header-height - all.$navbar-height-mobile);
  }
}

button {
  cursor: pointer;
}

// #endregion
// #region FONTS
@font-face {
  font-family: 'Inter';
  src: url('./../public/assets/fonts/Inter-VariableFont_opsz\,wght.ttf');
}

h1 {
  font-size: 6.1rem;
  @include all.style-bold;
  @include all.tablet{
    font-size: 5.6rem;
  }
  @include all.mobile{
    font-size: 4rem;
  }
}

h2 {
  font-size: 4.7rem;
  font-weight: 500;
  font-style: medium;
    @include all.tablet{
    font-size: 3.2rem;
  }
  @include all.mobile{
    font-size: 2.5rem;
  }
}

h3 {
  font-size: 2.7rem;
  @include all.style-bold;
    @include all.tablet{
    font-size: 2.3rem;
  }
  @include all.mobile{
    font-size: 2rem;
  }
}

h4 {
  font-size: 2.7rem;
  @include all.style-regular;
  @include all.tablet{
    font-size: 2.3rem;
  }
  @include all.mobile{
    font-size: 2rem;
  }
}
h5, li{
  font-size: 2.1rem;
  @include all.style-bold;
    @include all.tablet{
    font-size: 1.9rem;
  }
  @include all.mobile{
    font-size: 1.8rem;
  }
}

h6 {
  font-size: 2rem;
  @include all.style-regular;

}

p,
span,
input,
button {
  font-size: 1.6rem;
  @include all.style-regular;
}

// #endregion