<div class="overlay">
    <div class="add-contact-popup">
        <div class="popup-head">
            <img src="assets/icons/join_logo.svg" alt="Join Logo">
            <h1>Add contact</h1>
            <h4>Tasks are better with a team!</h4>
            <div></div>
        </div>
        <div class="popup-form">
            <button class="close-btn" (click)="sendStatus()"><img src="assets/icons/cancel.svg" alt=""></button>
            <div class="person-img">
                <img src="assets/icons/person.svg" alt="person">
            </div>

            <form action="">
                <div class="input-wrapper">
                    <input #name="ngModel" [(ngModel)]="contactData.name" type="text" placeholder="Name" name="name"
                        required [ngStyle]="{'border-color': !name.valid && name.touched ? 'red' : '#D9D9D9'}"><img
                        src="assets/icons/person-gray.svg" alt="">
                    @if (!name.valid && name.touched){
                    <span>Please enter a name!</span>
                    }
                </div>
                <div class="input-wrapper">
                    <input #mail="ngModel" [(ngModel)]="contactData.email" [ngStyle]="{'border-color': !mail.valid && mail.touched ? 'red' : '#D9D9D9'}" type="text" placeholder="Email" name="email" required><img
                        src="assets/icons/mail.svg" alt="">
                    @if (!mail.valid && mail.touched){
                    <span>Please enter a valid Email!</span>
                    }
                </div>
                <div class="input-wrapper">
                    <input #phone="ngModel" [(ngModel)]="contactData.phone" type="text" placeholder="Phone" name="phone"
                        required [ngStyle]="{'border-color': !phone.valid && phone.touched ? 'red' : '#D9D9D9'}"><img
                        src="assets/icons/phone.svg" alt="">
                    @if (!phone.valid && phone.touched){
                    <span>Please enter a valid number!</span>
                    }
                </div>
                <div class="btn-wrapper">
                    <button class="cancel-btn" (click)="sendStatus()" (click)="getContactsLength()">Cancel<img src="assets/icons/cancel.svg" alt="cancel-icon"></button>
                    <div class="submit-wrapper">
                        <input type="submit" value="Create contact" (click)="addContact()">
                        <img src="assets/icons/check.svg" alt="check-img">
                    </div>

                </div>
            </form>
            <!-- TODO: Form-Validation -->
        </div>
    </div>
</div>