@use '../../../../../../public/assets/styles/all-styles.scss' as all;

.overlay {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.212);
    @include all.d-flex();

    .add-contact-popup {
        @include all.d-flex($flexdir: row);
        height: 59.2rem;
        width: 121.2rem;
        animation: slideInPopUp 500ms forwards;
        animation-iteration-count: 1;

        @media(max-width: 1250px) {
            flex-direction: column;
            height: auto;
            width: 50rem;
        }

        @include all.mobile {
            width: 30rem;
        }

        .popup-head {
            background-color: all.$mainColor;
            height: 100%;
            width: 46.7rem;
            @include all.d-flex($alit: flex-start);
            gap: 0.8rem;
            padding: 0 4rem;
            color: all.$white;
            border-radius: 2.4rem 0 0 2.4rem;

            @media(max-width: 1250px) {
                width: 100%;
                height: 30rem;
                border-radius: 2.4rem 2.4rem 0 0;
            }

            @include all.mobile {
                height: 25rem;
                padding: 2.4rem;
            }

            h4 {
                @include all.mobile {
                    font-size: 1.6rem;
                }
            }

            .close-btn-mobile {
                position: absolute;
                top: 4rem;
                right: 4rem;
                background-color: transparent;

                @media(min-width: 1250px) {
                    display: none;
                }
            }

            >img {
                width: 6.4rem;
                @media(max-width: 1250px) {
                    display: none;
                }
            }

            div {
                height: 0.2rem;
                width: 8rem;
                background-color: all.$lightblue2;
                margin-top: 0.8rem;
            }
        }

        .popup-form {
            width: 74.5rem;
            height: 100%;
            @include all.d-flex($flexdir: row);
            gap: 8rem;
            background-color: all.$white;
            border-radius: 0 3rem 3rem 0;

            @media(max-width: 1250px) {
                width: 100%;
                height: auto;
                flex-direction: column;
                border-radius: 0 0 2.4rem 2.4rem;
                gap: 0;
            }

            .close-btn {
                position: absolute;
                top: 4rem;
                right: 4rem;
                background-color: transparent;

                @media(max-width: 1250px) {
                    display: none;
                }
            }

            .person-img {
                background-color: #D9D9D9;
                padding: 3.2rem;
                border-radius: 100%;
                box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
                border: 2px solid white;

                @media(max-width: 1250px) {
                    transform: translateY(-50%);
                }

                img {
                    height: 4rem;
                    width: 4rem;
                }
            }

            form {
                @include all.d-flex();
                gap: 2.4rem;

                @media(max-width: 1250px) {
                    padding-bottom: 1.6rem;
                }

                @include all.mobile {
                    gap: 1.6rem
                }

                .input-wrapper {
                    >input {
                        height: 5rem;
                        border: solid 1px #D9D9D9;
                        padding-left: 1.2rem;
                        padding-right: 3.6rem;
                        width: 42.2rem;
                        border-radius: 0.8rem;
                        color: all.$black;
                        font-size: 1.6rem;
                        font-family: all.$font;

                        @include all.mobile {
                            height: 3.2rem;
                            width: 29rem;
                        }

                        &:focus {
                            outline: none;
                            border: 2px solid all.$lightblue;
                        }
                    }

                    img {
                        position: absolute;
                        top: 50%;
                        right: 1.6rem;
                        transform: translateY(-50%);
                    }

                    span {
                        position: absolute;
                        top: 5rem;
                        left: 1.6rem;
                        font-size: 1.2rem;
                        color: red;

                        @include all.mobile {
                            display: none;
                        }
                    }
                }

                .btn-wrapper {
                    @include all.d-flex($flexdir: row, $jc: flex-start);
                    gap: 1.6rem;
                    width: 100%;

                    @media(max-width: 1250px) {
                        justify-content: center;
                    }

                    button {
                        height: 5rem;
                        background: all.$white ;
                        border: 2px solid black;
                        @include all.d-flex($flexdir: row);
                        gap: 0.8rem;
                        padding: 0 1.6rem;
                        border-radius: 0.8rem;
                        transition: 125ms;

                        .cancel-icon {
                            width: 20px;
                            height: 20px;
                            stroke: all.$black;
                            stroke-width: 2;
                            fill: none;
                            transition: stroke 0.2s ease;
                        }

                        &:hover {
                            border: 2px solid all.$lightblue2;
                            color: all.$lightblue2;
                            box-shadow: all.$shadow;

                            .cancel-icon {
                                stroke: all.$lightblue2;
                            }
                        }

                        @include all.mobile {
                            display: none;
                        }
                    }

                    .submit-wrapper {

                        input {
                            height: 5rem;
                            background-color: all.$mainColor;
                            color: all.$white;
                            padding-left: 0.8rem;
                            padding-right: 4rem;
                            font-size: 1.6rem;
                            font-family: all.$font;
                            border-radius: 0.8rem;
                            transition: 125ms;
                            cursor: pointer;

                            &:hover {
                                background-color: all.$lightblue2;
                                box-shadow: all.$shadow;
                            }
                        }

                        img {
                            position: absolute;
                            top: 50%;
                            right: 0.8rem;
                            transform: translateY(-50%);
                        }
                    }
                }
            }
        }
    }
}

.loading-screen {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.212);
}