<div class="overlay">
    <div class="add-contact-popup">
        <div class="popup-head">
            <button class="close-btn-mobile" (click)="sendStatus()"><img src="assets/icons/cancel-white.svg"
                    alt=""></button>
            <img src="assets/icons/join_logo.svg" alt="Join Logo">
            <h1>Add contact</h1>
            <h4>Tasks are better with a team!</h4>
            <div></div>
        </div>
        <div class="popup-form">
            <button class="close-btn" (click)="sendStatus()"><img src="assets/icons/cancel.svg" alt=""></button>
            <div class="person-img">
                <img src="assets/icons/person.svg" alt="person">
            </div>

            <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                <div class="input-wrapper">
                    <input #name="ngModel" [(ngModel)]="contactData.name" type="text" placeholder="Name" name="name"
                        required [ngStyle]="{'border-color': !name.valid && name.touched ? 'red' : '#D9D9D9'}"><img
                        src="assets/icons/person-gray.svg" alt="">
                    @if (!name.valid && name.touched){
                    <span>Please enter a name!</span>
                    }
                </div>
                <div class="input-wrapper">
                    <input #mail="ngModel" [(ngModel)]="contactData.email"
                        [ngStyle]="{'border-color': !mail.valid && mail.touched ? 'red' : '#D9D9D9'}" type="email"
                        placeholder="Email" name="email" required
                        pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"><img src="assets/icons/mail.svg"
                        alt="">
                    @if (!mail.valid && mail.touched){
                    <span>Please enter a valid Email!</span>
                    }
                </div>
                <div class="input-wrapper">
                    <input #phone="ngModel" [(ngModel)]="contactData.phone" type="text" placeholder="Phone" name="phone"
                        required [ngStyle]="{'border-color': !phone.valid && phone.touched ? 'red' : '#D9D9D9'}"><img
                        src="assets/icons/phone.svg" alt="">
                    @if (!phone.valid && phone.touched){
                    <span>Please enter a valid number!</span>
                    }
                </div>
                <div class="btn-wrapper">
                    <button class="cancel-btn" (click)="sendStatus()" (click)="getContactsLength()">Cancel

                        <svg class="cancel-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M6 6L18 18M6 18L18 6" />
                        </svg>

                    </button>
                    <div class="submit-wrapper">
                        <input type="submit" value="Create contact">
                        <img src="assets/icons/check.svg" alt="check-img">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="loading-screen" [ngStyle]="{'display' : !loadingActive ? 'none' : 'block'}"></div>