@use './../../../../../public/assets/styles/all-styles.scss' as all;

#normal-view{
    background: all.$lightgray;
    overflow-y: auto;
    .content{
        padding-top: 10rem;
        padding-left: 5rem; 
        @include all.d-flex($flexdir: column, $alit: flex-start, $rgap: 4rem);
        .contact-label-big{
            @include all.d-flex($flexdir: row, $alit: center, $cgap: 5rem);
            .edit-delete-option{
                @include all.d-flex($flexdir: column, $alit: flex-start, $rgap: 0.5rem);
                .edit-delete-btn{
                    @include all.d-flex($flexdir: row, $jc: flex-start, $alit: center, $cgap: 2rem);
                    button{
                        color: all.$mainColor;
                        background: transparent;
                        cursor: pointer;
                        @include all.d-flex($flexdir: row, $jc: flex-start, $alit: center, $cgap: 0.5rem);
                        img{
                            width: 2.4rem;
                            height: 2.4rem;
                        }
                    }
                }
            }
            
        }
        .email-phone-details{
            @include all.d-flex($flexdir: column, $alit: flex-start, $rgap: 2.2rem);
            .bold{
                @include all.style-bold();
            }
            .blue{
                color: all.$lightblue;
            }
        }
    }
}
#edit-window{
    .edit-sect{
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 15;
        background: rgba(0.8, 0.8, 0.8, 0.2);
        width: calc(100% + 232px);
        max-width: calc(1920px - 232px);
        height: calc(100dvh - 64px);
        @include all.d-flex($alit: center, $jc: center);
        .edit-form{
            width: 121rem;
            height: 59.2rem;
            background-color: all.$white;
        }
    }
}
