@use './../../../../../public/assets/styles/all-styles.scss' as all;

#normal-view{
    background: all.$lightgray;
    overflow-y: auto;
    .content{
        padding-top: 10rem;
        padding-left: 5rem; 
        @include all.d-flex($flexdir: column, $alit: flex-start, $rgap: 4rem);
        .contact-label-big{
            @include all.d-flex($flexdir: row, $alit: center, $cgap: 5rem);
            .edit-delete-option{
                @include all.d-flex($flexdir: column, $alit: flex-start, $rgap: 0.5rem);
                .edit-delete-btn{
                    @include all.d-flex($flexdir: row, $jc: flex-start, $alit: center, $cgap: 2rem);
                    button{
                        color: all.$mainColor;
                        background: transparent;
                        cursor: pointer;
                        @include all.d-flex($flexdir: row, $jc: flex-start, $alit: center, $cgap: 0.5rem);
                        &:hover{
                            color: all.$lightblue;
                            font-weight: 700;
                            svg{
                                g{
                                    path{
                                        fill: all.$lightblue;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            
        }
        .email-phone-details{
            @include all.d-flex($flexdir: column, $alit: flex-start, $rgap: 2.2rem);
            .bold{
                @include all.style-bold();
            }
            .blue{
                color: all.$lightblue;
            }
        }
        .toast-msg-div{
            width: 100%;
            @include all.d-flex($jc: center, $alit:center);
        }
    }
}
