<section id="normal-view">
    <div class="content">
        <app-section-title-vline [sectHeader]="contacts!"></app-section-title-vline>
        @for (singlecontact of contactFirebase.contactsList; track $index){
            @if(singlecontact.active){
                <div class="contact-label-big">
            <app-user-profile-image></app-user-profile-image>
            <div class="edit-delete-option">
                <h2>{{singlecontact.name}}</h2>
                <div class="edit-delete-btn">
                    <button class="edit-btn" (click)="toggleEditContactWindow(singlecontact)">
                        <img src="./assets/icons/edit.svg" alt="edit button">Edit
                    </button>
                    <button class="delete-btn" (click)="deleteContact(singlecontact.id)">
                        <img src="./assets/icons/delete.svg" alt="delete button">Delete
                    </button>
                </div>
            </div>
        </div>
        <h6>Contact Information</h6>
        <div class="email-phone-details">
            <p class="bold">Email</p>
            <p class="blue">{{singlecontact.mail}}</p>
            <p class="bold">Phone</p>
            <p>{{singlecontact.phone}}</p>
        </div>
        }
    }    
    </div>
</section>
<section *ngIf="edit" id="edit-window">
    <app-edit-contact [contactDetails]="selectedContact" (close)="toggleEditContactWindow()" (save)="saveContact($event)" (delete)="deleteContactonEditWindow($event)"></app-edit-contact>
</section>
    
