@use './../../../../../public/assets/styles/all-styles.scss' as all;
section{
    background-color: all.$lightgray;
    padding: 11rem 9.6rem;
    height: 100dvh;
    overflow-y: auto;
    h1, h3{
        padding-bottom: 3rem;
    }
    h5{
        padding-bottom: 1.8rem;
    }
    h6{
        font-size: 1.8rem;
        font-weight: 600;
    }
    p, li{
        padding-bottom: 2.4rem;
    }
    ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 3rem;
        li{
            list-style-type: decimal;
            padding-left: 2rem;
        }
    }
}